<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BiblioTech - {% block title%}{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>

  <body>

    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center w-100">
            <div class="toast-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="toast text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">{{ category }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
      <div class="row justify-content-center mt-5">
        <div class="col-4 text-center d-flex justify-content-center">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
              <img src="{{ url_for('static', filename='img/user.png') }}" class="avatar" alt="Avatar Image">
            </div>
            <div class="card-body">
              <div class="row">
                  {% block cardheader %}
                  {% endblock cardheader %}
              </div>
                  {% block form %}
                  {% endblock form %}
            <div class="card-footer text-muted">
                {% block cardfooter %}
                {% endblock cardfooter%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
  
  {% block scripts %}
  {% endblock scripts %}

<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(element => {
        element.show()
    });
</script>
</html>