{% extends "authbase.html" %}

{% block title %}Login{% endblock title %}

{% block cardheader %}
  <h1>Ingresa aquí</h1>
{% endblock cardheader %}

{% block form %}
  <form class="form-control bg-dark border-0" method="post" action="">
    {{ form.csrf_token() }}
    <div class="form-floating mb-3">
      {{ form.num_doc(class="form-control", id="num_doc") }}
      {{ form.num_doc.label(for="num_doc") }}
    </div>
    <div class="form-floating mb-3">
      {{ form.pw(class="form-control", id="pw") }}
      {{ form.pw.label(for="pw") }}
    </div>
    <div class="form-check mb-3">
      {{ form.remember(class="form-check-input", id="remember") }}
      {{ form.remember.label(class="form-check-label text-white", for="remember") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock form %}
{% block cardfooter %}
  <a href="{{ url_for('register') }}">¿No tienes cuenta? Regístrate aquí</a>
{% endblock cardfooter %}
