{% extends "authbase.html" %}

{% block title %}Registro{% endblock title %}

{% block cardheader %}
  <h1>Regístrate ahora!</h1>
{% endblock cardheader %}

{% block form %}
  <form class="form-control bg-dark border-0" method="post" action="">
    <div class="row">
      <!-- USERNAME INPUT -->
      <div class="col-6 form-floating mb-3">
        {{ form.fname(class="form-control", id="fname") }}
        {{ form.fname.label(for="fname") }}
      </div>
      <div class="col-6 form-floating mb-3">
        {{ form.lname(class="form-control", id="lname") }}
        {{ form.lname.label(for="lname") }}
      </div>
    </div>
    <!-- DOCUMENT INPUT -->
    <div class="form-floating mb-3">
      {{ form.num_doc(class="form-control", id="num_doc") }}
      {{ form.num_doc.label(for="num_doc") }}
    </div>
    <!-- EMAIL INPUT -->
    <div class="form-floating mb-3">
      {{ form.email(class="form-control", id="email") }}
      {{ form.email.label(for="email") }}
    </div>
    <!-- PHONE INPUT -->
    <div class="form-floating mb-3">
      {{ form.phone(class="form-control", id="phone") }}
      {{ form.phone.label(for="phone") }}
    </div>
    <!-- PW INPUT -->
    <div class="form-floating mb-3">
      {{ form.pw(class="form-control", id="pw") }}
      {{ form.pw.label(for="pw") }}
    </div>
    <!-- CONFIRM INPUT -->
    <div class="form-floating mb-3">
      {{ form.confirm_pw(class="form-control", id="confirm_pw") }}
      {{ form.confirm_pw.label(for="confirm_pw") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Ingresar">
  </form>
{% endblock form %}

{% block cardfooter %}
  <a href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión</a>
{% endblock cardfooter %}
